.logo {
    width: 30rem;
    @media (max-width: 520px) {
        width: 20rem;
    }
}

.section {
    h1 {
        font-size: 3rem;
        margin-block: 0;
    }
    & h2,
    h3,
    h4 {
        margin-block: 1.5rem 0;
    }
    & strong {
        font-weight: 600;
    }
    & p {
        margin-block: 1rem;
        line-height: 2;
        font-size: var(--tx-size-body);
    }
    & figure {
        margin-block: 0.5rem 1rem;
    }
    & li {
        margin-block: 0.25rem;
        line-height: 2;
        font-size: var(--tx-size-body);
    }
    & a {
        font-weight: 500;
        text-decoration: underline;
        text-decoration-color: #4dabf7;
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 2px;
        transition: text-decoration-color 0.15s ease-in-out;
        &:hover {
            text-decoration-color: #228be6;
        }
    }
}

.gradient-border {
    --borderWidth: 0.28rem;
    background: #fff;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
    );
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 6s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
